@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-bg {
  --x: 1.7;
  --first: #c2a813;
  --second: #ffffff;
  background-color: var(--first);
  background-image: repeating-linear-gradient(
      45deg,
      transparent, transparent calc(5px*var(--x)),
      var(--second) calc(5px*var(--x)), var(--second) calc(6px*var(--x))
  ),
  repeating-linear-gradient(
      -45deg,
      transparent, transparent calc(5px*var(--x)),
      var(--second) calc(5px*var(--x)), var(--second) calc(6px*var(--x))
  );
  }
}